<div class="row">
	      	<div class="span12">      			
	      		<div class="widget ">
	      			<div class="widget-header">
	      				<i class="icon-user"></i>
	      				<h3>Proceso de Verificación de Documentos</h3>
	  				</div> <!-- /widget-header -->
					<div class="widget-content">
								<div class="tab-pane active">
									<form action="php/verificaciondocs.php" method="post" class="form-horizontal">
										<br/>
	                                        <div class="control-group">											
												<label class="control-label">Documentos</label>
	                                            <div class="controls">
		                                            <label class="checkbox block">
		                                              <input type="checkbox"> Acta de Nacimiento
		                                            </label>
		                                            <label class="checkbox block">
		                                              <input type="checkbox"> Ficha 
		                                            </label>
		                                            <label class="checkbox block">
		                                              <input type="checkbox"> Pre-Ficha 
		                                            </label>
		                                          	<label class="checkbox block">
		                                              <input type="checkbox"> Recibo de Pago 
		                                            </label>
	                                          	</div>		<!-- /controls -->		
											</div> <!-- /control-group -->

											<div class="control-group">											
												<label class="control-label" for="nombre">Nombre:</label>
												<div class="controls">
													<input type="text" class="span6" name="nombre">
												</div> <!-- /controls -->				
											</div> <!-- /control-group -->
											<div class="control-group">											
												<label class="control-label" for="apellidos">Apellidos:</label>
												<div class="controls">
													<input type="text" class="span6" name="apellidos">
												</div> <!-- /controls -->				
											</div> <!-- /control-group -->

											<div class="control-group">											
												<label class="control-label" for="carrera">Carrera:</label>
												<div class="controls">
													<input type="text" class="span6" name="carrera" >
												</div> <!-- /controls -->				
											</div> <!-- /control-group -->

											<div class="control-group">									
												<label class="control-label" for="n_ficha">Número de Ficha:</label>
												<div class="controls">
													<input type="text" class="span6" name="n_ficha" >
												</div> <!-- /controls -->				
											</div> <!-- /control-group -->




											<div class="form-actions">
												<button type="submit" class="btn btn-primary">Enviar</button> 
												<button class="btn">Cancelar</button>
											</div> <!-- /form-actions -->
									</form>
								</div>
					</div> <!-- /widget-content -->
				</div> <!-- /widget -->
		    </div> <!-- /span8 -->
</div> <!-- /row -->