	      <div class="row">
	      	<div class="span12">      			
	      		<div class="widget ">
	      			<div class="widget-header">
	      				<i class="icon-user"></i>
	      				<h3>Busqueda de alumnos.</h3>
	  				</div> <!-- /widget-header -->
					<div class="widget-content">
		<div class="span6">
      	<div id="target-2" class="widget">
			      			<div class="widget-content center-text">
					      		<h1>Datos del Alumno</h1><br>
									<fieldset>
										<div class="control-group">
											<label class="control-label" for="ficha">Ficha de inscripción</label>
											<div class="controls">
												<input type="text" id="n_ficha" name="n_ficha">
											</div> <!-- /controls -->				
										</div> <!-- /control-group -->
									</fieldset>
									<div class="form-actions" disabled>
									<button type="submit" class="btn btn-primary" id="btn" onclick="altaAlumno();">
										Guardar
									</button> 
									</div> <!-- /form-actions -->
				      		</div> <!-- /widget-content -->
			      		</div> <!-- /widget -->	
		</div> <!-- /span5 -->
			      	<div class="span5">	      		
			      		<div id="target-2" class="widget">
			      			<div class="widget-content center-text">
					      		<h1>Datos del Alumno</h1><br>
									<fieldset>
										 <table class="table table-bordered table-hover tablesorter">
										        <tbody>
												   <tr>
										                <th>Nombre</th>
										                <td></td>
										            </tr>
											        
										            <tr>
										                <th>Carrera</th>
										                <td></td>
										            </tr>
											        
										            <tr>
										                <th>Fecha de atención</th>
										                <td></td>
										            </tr>
										            <tr>
										                <th>Ficha de inscripción</th>
										                <td> </td>
										            </tr>
										            <tr>
										                <th>Turno</th>
										                <td> </td>
										            </tr>
										            <tr>
										                <th>Estado</th>
										                <td> </td>
										            </tr>
										        </tbody>
										    </table>
									</fieldset>
									<div class="form-actions" disabled>
									<button type="submit" class="btn btn-primary" id="btn" disabled="true" onclick="altaAlumno();">
										Guardar
									</button> 
									</div> <!-- /form-actions -->
				      		</div> <!-- /widget-content -->
			      		</div> <!-- /widget -->
		      		</div> <!-- /span5 -->
						

            
					</div> <!-- /widget-content -->
				</div> <!-- /widget -->
		    </div> <!-- /span8 -->
	      </div> <!-- /row -->