                <div class="row">
                        <div class="widget span12">
                            <div class="widget-header">
                                <i class="icon-bar-chart"></i>
                                <h3>ESTADÍSTICAS</h3>
                            </div>
                            <!-- /widget-header -->
                            <div class="widget-content">
                                    <div class="span10 center-text">
                                                <canvas id="bar-chart" class="chart-holder" width="950px" height="480px">
                                                </canvas>
                                                <!-- /bar-chart -->
                                     </div>

                            </div>
                        </div>
                        <!-- /widget -->
                </div>
                <!-- /row -->
    <!-- Le javascript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/excanvas.min.js"></script>
    <script src="js/chart.min.js" type="text/javascript"></script>
    <script>

    $(document).ready(function (){
            var jsonResponse =null;
        $.get("php/getCountCarreras.php", function( data ) {
            jsonResponse  = jQuery.parseJSON(data);
            var barChartData = {
                labels: ["Ing. Electrónica", "Ing. Electrómecanica", "Ing. Gestión Empresarial", "Ing. Industrial", "Ing. Mecatrónica", "Ing. Sistemas Computacionales", "Lic. Administación"],
                datasets: [
                    {  
  
                        fillColor: "#00B898",
                        strokeColor: "#FF7F74",
                        data: [ jsonResponse.Electronica,
                                jsonResponse.Electromecanica,
                                jsonResponse.Gestion,
                                jsonResponse.Industrial,
                                jsonResponse.Mecatronica,
                                jsonResponse.Sistemas,
                                jsonResponse.Administacion
                            ]
                    }
                ]
            }

            var myLine = new Chart(document.getElementById("bar-chart").getContext("2d")).Bar(barChartData);

        });

        
    });

        
	</script>