<div class="row">
   	<div class="span8">
      	<div> 
      	<h2 style="text-align: center !important;"><strong>EscolaresPi</strong>: Sistema para Alumnos de Nuevo Ingreso</h2>
      	<p style="text-align: justify;"> El Objetivo principal de nuestro proyecto es verificar los documentos de los alumnos de nuevo ingreso y mantener un control de los mismos, brindando así una mejor distribución en los tiempos tanto en la verificación de documentos como en la atención de inscripción.</p>
     		<img src="img/Diagrama-Escolares.png" width="90%"> 
     		<p><b>(Esquema Representativo del flujo de turnos)</b></p>    
      	</div>
	</div>
   	<div class="span4">
		<div class="widget">
	       <div class="widget-header">
	            <i class="icon-bar-chart"></i>
	               <h3>Progreso de Inscripción</h3>
	        </div>
	        <!-- /widget-header -->
	        <div class="widget-content">
	        	<div class="control-group">											
					<label class="control-label" for="firstname"><h3>Total Alumnos:</h3></label>
					<div class="controls">
					<input type="text" class="span2" id="firstname" value="#" style="height: 35px; 	font-size: 25px; font-weight: bold;">
					</div> <!-- /controls -->				
				</div> <!-- /control-group -->
				<hr>
				<h3>Gráfica por Carreras:</h3>
                <canvas id="pie-chart" class="chart-holder" width="538" height="250"></canvas>
	        <!-- /bar-chart -->
	        </div>
	        <!-- /widget-content -->
	    </div>
	</div>
</div>